<!DOCTYPE html>
<div ng-controller="AccountController">
	<button ng-click="logout()" class="btn btn-default">Logout</button>
	<div id="profil_bg" class="col-md-12">
		<div id="default_profil" ng-click="tab_hide()">
			<img id="profil_img" src="img/default_profil.png" alt="image de profil"/>
			<p id="profil_name"><%= user.owner_firstname %> <%= user.owner_lastname %></p>
		</div>
	</div>
	<div class="col1 col-lg-6">
		<a class="about_title" ng-click="tab_show('show_about')">A propos</a>
	</div>
	<div class="col2 col-lg-6">
		<a class="trophy_title" ng-click="tab_show('ss-container')">Mes trophés</a>
	</div>
	<!--<div class="col3 col-lg-3">
		<span class="coupon_title">Mes bons de réduction</span>
	</div>
	<div class="col4 col-lg-3">
		Hello
	</div>-->
	<div class="row-centered" id="account-main">
		<div class="col-md-6 col-centered">
			<p class="recent_survey">Sondages récemment rempli</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mollis, urna ac luctus dictum, tortor tortor blandit tellus, et tempor velit orci et lectus. Maecenas eu euismod magna. Aliquam vel mi ut nibh placerat dignissim id ac erat. Aliquam ut massa ut nulla iaculis aliquam in eu tellus. Curabitur sem quam, posuere vel efficitur luctus, ullamcorper vitae elit. Suspendisse bibendum tortor dapibus blandit convallis. Sed vitae elit tempus, vulputate lacus ac, dignissim eros.
			</p>
			<p>
				Donec viverra urna id metus efficitur, id mattis metus porta. Duis aliquam commodo tristique. Nullam et aliquam mi. Nunc quis dictum urna. Morbi vel lectus ullamcorper, auctor ex non, tempor felis. Proin a ultrices enim. Vivamus rutrum, ipsum in vehicula efficitur, risus enim feugiat est, sed consequat dolor est in elit. Nulla maximus mauris sit amet est sodales maximus.
			</p>
		</div>
	</div>
	<div id="show_about" style="display:none;">
		<div class="row-centered">
			<div class="col-md-6 col-centered">
				<div id="edit-success" class="alert alert-success alert-dismissible fade in" role="alert" ng-show="editSuccMess!=undefined">
				    <button type="button" class="close" ng-click="editSuccMess=undefined"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				    <span>{{editSuccMess}}</span>
				</div>
				<div id="edit-error" class="alert alert-danger alert-dismissible fade in" role="alert" ng-show="editErrMess!=undefined">
				    <button type="button" class="close" ng-click="editErrMess=undefined"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				    <span>{{editErrMess}}</span>
				</div>
				<h1>User informations</h1>
				<p>Type de compte: 
					<span ng-if="user.owner_type == 1">Particulier</span>
					<span ng-if="user.owner_type == 2">Administrateur</span>
					<span ng-if="user.owner_type == 3">Professionnel</span>
					<span ng-if="user.owner_type == 4">Administrateur professionnel</span>
				</p>
				<p class="edit_link" ng-hide="addressEdit" ng-click="editAdress(true)">Adresse:<br/>
					<span ng-bind="user.owner_adress"></span>
					{{user.owner_postal}} {{user.owner_town}}<br/>{{user.owner_country}}
				</p>
				<div ng-show="addressEdit">
					<div class="col-sm-12">
						<label>Indiquez votre adresse ici</label>
						<div class="col-sm-11" style="padding-left:0px !important"><input type="text" id="googleAddressAccount-autocomplete" placeholder="" class="form-control" onFocus="googleAddress.geolocate()" /></div>
						<button ng-show="addressEdit" type="button" class="col-sm-1 btn btn-default button-validate" ng-click="editAdress(false)"><i class="fa fa-check"></i></button>
					</div>
					<div class="professionnal_form col-sm-6"> 
						<label>Route</label> <span class="link_primary" hidden >*</span>
						<input type="text" placeholder="" id="googleAddress2sign-route" class="form-control" ng-model="user.owner_adress" readonly />
					</div>
					<div class="professionnal_form col-sm-6">
						<label>Code postal</label> <span class="link_primary" hidden >*</span>
						<input type="text" placeholder="" id="sign-postal" class="form-control" ng-model="user.owner_postal" readonly />
					</div>
					<div class="professionnal_form col-sm-3">
						<label>Ville</label> <span class="link_primary" hidden >*</span>
						<input type="text" placeholder="" id="sign-locality" class="form-control" ng-model="user.owner_town" readonly />
					</div>
					<div class="professionnal_form col-sm-3">
						<label>Pays</label> <span class="link_primary" hidden >*</span>
						<input type="text" placeholder="" id="sign-country" class="form-control" ng-model="user.owner_country" readonly />
					</div>
				</div>
				<div style="clear:both;">
				<p>E-mail:
					<span class="edit_link" ng-hide="emailEdit" ng-click="editEmail(true)" ng-bind="user.owner_email">
						<button style="display:none;" type="button" class="btn btn-default button-validate showEdit" ng-click="editEmail(true)"><i class="fafa-pencil-square-o"></i></button>
					</span>
					<input class="user_info_edit_input" ng-show="emailEdit" type="text" ng-model="user.owner_email" ng-change="email_check()" required/>
					<button ng-show="emailEdit" type="button" class="btn btn-default button-validate" ng-click="editEmail(false)"><i class="fa fa-check"></i></button><br/>
					<span class="error" ng-show="isValidEmail">Le mail indiqué est invalide</span>
					<br/>

					Tel:
					<span class="edit_link" ng-hide="phoneEdit" ng-click="editPhone(true)" ng-bind="user.owner_tel">
						<button style="display:none;" type="button" class="btn btn-default button-validate showEdit" ng-click="editPhone(true)"><i class="fafa-pencil-square-o"></i></button>
					</span>
					<input class="user_info_edit_input" ng-show="phoneEdit" type="text" ng-model="user.owner_tel" ng-change="phoneNumber_check()"/>
					<button ng-show="phoneEdit" type="button" class="btn btn-default button-validate" ng-click="editPhone(false)"><i class="fa fa-check"></i></button><br/>
					<span class="error" ng-show="isValidPhoneNumber">Le numéro doit être composé de 10 chiffres ou doit commencer par +33</span>
					</p>
				</div>
				<p>Points: {{user.owner_points}}</p>
				<span id="newPassWord" ng-click="displayChangePassword()">Changer le mot de passe</span>
				<div id="changePassword" style="display:none;">
					<div>
						<label>Veuillez taper votre mot de passe actuel</label> <span class="link_primary">*</span>
						<input type="password" class="form-control" ng-model="oldpwd" ng-blur="oldPasswordCompare()" required/>
						<span class="error" style="position:relative !important;" ng-show="isValidOldPwd">Le mot de passe ne correspond pas à votre mot de passe actuel</span>
					</div>
					<div>
						<label>Tapez votre nouveau mot de passe</label> <span class="link_primary">*</span>
						<input type="password" class="form-control" ng-model="newPwd" ng-change="pwd_check()" required/>
						<span class="error" style="position:relative !important;" ng-show="isValidPwd">Votre mot de passe doit contenir au moins une lettre, un chiffre, un caractère spécial et doit excéder 6 caractères</span>
					</div>
					<div>
						<label>Confirmez le mot de passe</label> <span class="link_primary">*</span>
						<input type="password" class="form-control" ng-model="newPwdConfirm" ng-change="confirmpwd_check()" required/>
						<span class="error" style="position:relative !important;" ng-show="isValidConfirmPwd">Le mots de passe de sont pas identiques</span>
					</div>
				</div>
				<input ng-show="editProfile" type="submit" value="Enregistrer les modifications" class="btn btn-primary" ng-click="submitProfileChange()"/>
			</div>
		</div>
	</div>
	<div id="ss-container" class="ss-container">
		<% for(var i=0; i < achievements.length; i++) { %>
			<div class="ss-row ss-medium">
				<% if(i%2 == 0) { %>
				    <div class="ss-left">
			            <span class="ss-circle ss-circle-deco" style="background-image:url(<%= achievements[i].image_path %>)"></span>
			        </div>
			        <div class="ss-right">
			            <h3>
			            	<span style="font-weight: bold!important; font-size: 25px"><strong><%= achievements[i].name %></strong></span>
			                <span><%= achievements[i].recieved_dt %></span>
			                <span><%= achievements[i].description %></span>
			            </h3>
			        </div>
				<% } else { %>
					<div class="ss-left">
			            <h3>
			            	<span style="font-weight: bold!important; font-size: 25px"><strong><%= achievements[i].name %></strong></span>
			                <span><%= achievements[i].recieved_dt %></span>
			                <span><%= achievements[i].description %></span>
			            </h3>
			        </div>
				    <div class="ss-right">
			            <span class="ss-circle ss-circle-deco" style="background-image:url(<%= achievements[i].image_path %>)"></span>
			        </div>
				<% } %>
		    </div>
		<% } %>
</div>
<script src="js/scroll.js"></script>