<!DOCTYPE html>
<div ng-controller="AccountController">
	<button ng-click="logout()" class="btn btn-default">Logout</button>
	<div id="profil_bg" class="col-md-12">
		<div id="default_profil" ng-click="tab_hide()">
			<img id="profil_img" src="img/default_profil.png" alt="image de profil"/>
			<p id="profil_name"><%= user.owner_firstname %> <%= user.owner_lastname %></p>
		</div>
	</div>
	<div class="col1 col-lg-6">
		<a class="about_title" ng-click="tab_show('show_about')">A propos</a>
	</div>
	<div class="col2 col-lg-6">
		<a class="trophy_title" ng-click="tab_show('ss-container')">Mes trophés</a>
	</div>
	<!--<div class="col3 col-lg-3">
		<span class="coupon_title">Mes bons de réduction</span>
	</div>
	<div class="col4 col-lg-3">
		Hello
	</div>-->
	<div class="row-centered" id="account-main">
		<div class="col-md-6 col-centered">
			<p class="recent_survey">Sondages récemment rempli</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mollis, urna ac luctus dictum, tortor tortor blandit tellus, et tempor velit orci et lectus. Maecenas eu euismod magna. Aliquam vel mi ut nibh placerat dignissim id ac erat. Aliquam ut massa ut nulla iaculis aliquam in eu tellus. Curabitur sem quam, posuere vel efficitur luctus, ullamcorper vitae elit. Suspendisse bibendum tortor dapibus blandit convallis. Sed vitae elit tempus, vulputate lacus ac, dignissim eros.
			</p>
			<p>
				Donec viverra urna id metus efficitur, id mattis metus porta. Duis aliquam commodo tristique. Nullam et aliquam mi. Nunc quis dictum urna. Morbi vel lectus ullamcorper, auctor ex non, tempor felis. Proin a ultrices enim. Vivamus rutrum, ipsum in vehicula efficitur, risus enim feugiat est, sed consequat dolor est in elit. Nulla maximus mauris sit amet est sodales maximus.
			</p>
		</div>
	</div>
	<div id="show_about" style="display:none;">
		<div class="row-centered">
			<div class="col-md-6 col-centered">
				<h1>User informations</h1>
				<p>Type de compte: 
					<span ng-if="user.owner_type == 1">Particulier</span>
					<span ng-if="user.owner_type == 2">Administrateur</span>
					<span ng-if="user.owner_type == 3">Professionnel</span>
					<span ng-if="user.owner_type == 4">Administrateur professionnel</span>
				</p>
				<p>Adresse:<br/>
					<span class="edit_link" ng-hide="addressEdit" ng-click="editAdress(true)" ng-bind="user.owner_adress"></span>
					<input class="user_info_edit_input" ng-show="addressEdit" type="text" ng-model="user.owner_adress"/>
					<button ng-show="addressEdit" type="button" class="btn btn-default button-validate" ng-click="editAdress(false)"><i class="fa fa-check"></i></button><br/>


					{{user.owner_postal}} {{user.owner_town}}<br/>{{user.owner_country}}
				</p>
				<p>E-mail:
					<span class="edit_link" ng-hide="emailEdit" ng-click="editEmail(true)" ng-bind="user.owner_email">
						<button style="display:none;" type="button" class="btn btn-default button-validate showEdit" ng-click="editEmail(true)"><i class="fafa-pencil-square-o"></i></button>
					</span>
					<input class="user_info_edit_input" ng-show="emailEdit" type="text" ng-model="user.owner_email"/>
					<button ng-show="emailEdit" type="button" class="btn btn-default button-validate" ng-click="editEmail(false)"><i class="fa fa-check"></i></button><br/>
					<br/>Tel: {{user.owner_tel}}</p>
				<p>Points: {{user.owner_points}}</p>
				<input ng-show="editProfile" type="submit" value="Enregistrer les modifications" class="btn btn-primary" />
			</div>
		</div>
	</div>
	<div id="ss-container" class="ss-container">
		<% for(var i=0; i < achievements.length; i++) { %>
			<div class="ss-row ss-medium">
				<% if(i%2 == 0) { %>
				    <div class="ss-left">
			            <span class="ss-circle ss-circle-deco" style="background-image:url(<%= achievements[i].image_path %>)"></span>
			        </div>
			        <div class="ss-right">
			            <h3>
			            	<span style="font-weight: bold!important; font-size: 25px"><strong><%= achievements[i].name %></strong></span>
			                <span><%= achievements[i].recieved_dt %></span>
			                <span><%= achievements[i].description %></span>
			            </h3>
			        </div>
				<% } else { %>
					<div class="ss-left">
			            <h3>
			            	<span style="font-weight: bold!important; font-size: 25px"><strong><%= achievements[i].name %></strong></span>
			                <span><%= achievements[i].recieved_dt %></span>
			                <span><%= achievements[i].description %></span>
			            </h3>
			        </div>
				    <div class="ss-right">
			            <span class="ss-circle ss-circle-deco" style="background-image:url(<%= achievements[i].image_path %>)"></span>
			        </div>
				<% } %>
		    </div>
		<% } %>
</div>
<script src="js/scroll.js"></script>