<!DOCTYPE html>
<div ng-controller="AccountController">
	<div id="profil_bg" class="col-md-12">
		<div id="default_profil" ng-click="tab_hide()">
			<img id="profil_img" src="img/default_profil.png" alt="image de profil"/>
			<div id="account_user_points"><span id="user_points_count" style="display: inline-block">0</span> <span style="font-weight: normal!important">POINTS</span></div>
			<p id="profil_name"><%= user.owner_firstname %> <%= user.owner_lastname %></p>
		</div>
	</div>
	<div class="col1 col-xs-12 col-md-6 col-lg-6">
		<a class="about_title" ng-click="tab_show('show_about')">A propos</a>
	</div>
	<div class="col2 col-xs-12 col-md-6 col-lg-6">
		<a class="trophy_title" ng-click="tab_show('ss-container')">Mes trophés</a>
	</div>

	<div class="row-centered" id="account-main">
		<div class="col-md-6 col-centered">
			<p class="recent_survey">Sondages récemment rempli</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mollis, urna ac luctus dictum, tortor tortor blandit tellus, et tempor velit orci et lectus. Maecenas eu euismod magna. Aliquam vel mi ut nibh placerat dignissim id ac erat. Aliquam ut massa ut nulla iaculis aliquam in eu tellus. Curabitur sem quam, posuere vel efficitur luctus, ullamcorper vitae elit. Suspendisse bibendum tortor dapibus blandit convallis. Sed vitae elit tempus, vulputate lacus ac, dignissim eros.
			</p>
			<p>
				Donec viverra urna id metus efficitur, id mattis metus porta. Duis aliquam commodo tristique. Nullam et aliquam mi. Nunc quis dictum urna. Morbi vel lectus ullamcorper, auctor ex non, tempor felis. Proin a ultrices enim. Vivamus rutrum, ipsum in vehicula efficitur, risus enim feugiat est, sed consequat dolor est in elit. Nulla maximus mauris sit amet est sodales maximus.
			</p>
		</div>
	</div>
	<div id="show_about" style="display:none;">
		<div class="row-centered">
			<div class="col-md-6 col-centered">
				<div id="edit-success" style="margin-top: 25px;" class="alert alert-success alert-dismissible fade in" role="alert" ng-show="editSuccMess!=undefined">
				    <button type="button" class="close" ng-click="editSuccMess=undefined"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				    <span>{{editSuccMess}}</span>
				</div>
				<div id="edit-error" style="margin-top: 25px;" class="alert alert-danger alert-dismissible fade in" role="alert" ng-show="editErrMess!=undefined">
				    <button type="button" class="close" ng-click="editErrMess=undefined"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				    <span>{{editErrMess}}</span>
				</div>
				<div id="message"></div>
				<h1 style="display: inline-block;">Vos informations</h1>
				<div class="col-sm-12" style="padding:0px;">
					<div class="panel panel-default" id="profile-settings" ng-show="showEditProfileField">
						<div class="panel-heading">
							<i class="fa fa-th"></i> Edition profil
							<button type="button" style="float:right; margin-top:-7px;"class="col-sm-1 btn btn-default button-validate" ng-click="editProfileField()"><i class="fa fa-pencil"></i></button>
						</div>
						<div class="panel-body">
							<div id="accountEditProfile">
								<div ng-show="user.owner_type == 3 || user.owner_type == 1">
									<div class="col-sm-12">
										<label>Indiquez votre adresse ici</label>
										<input type="text" id="googleAddressAccount-autocomplete" placeholder="" class="form-control" />
									</div>
									<div class="professionnal_form col-sm-6"> 
										<label>Route</label> <span class="link_primary" hidden >*</span>
										<input type="text" placeholder="" id="googleAddress2sign-route" class="form-control" ng-model="user.owner_adress" readonly />
									</div>
									<div class="professionnal_form col-sm-6">
										<label>Code postal</label> <span class="link_primary" hidden >*</span>
										<input type="text" placeholder="" id="sign-postal" class="form-control" ng-model="user.owner_postal" readonly />
									</div>
									<div class="professionnal_form col-sm-3">
										<label>Ville</label> <span class="link_primary" hidden >*</span>
										<input type="text" placeholder="" id="sign-locality" class="form-control" ng-model="user.owner_town" readonly />
									</div>
									<div class="professionnal_form col-sm-3">
										<label>Pays</label> <span class="link_primary" hidden >*</span>
										<input type="text" placeholder="" id="sign-country" class="form-control" ng-model="user.owner_country" readonly />
									</div>
									<div class="professionnal_form col-sm-6" style="clear:both;">
										<label>E-mail</label> <span class="link_primary" hidden >*</span>
										<input class="user_info_edit_input form-control" type="text" ng-model="user.owner_email" ng-change="email_check()" required/>
										<span class="error" ng-show="isValidEmail">Le mail indiqué est invalide</span>
									</div>
									<div class="col-sm-6" style="clear:both;">
										<label>Numéro</label>
										<input class="user_info_edit_input form-control" type="text" ng-model="user.owner_tel" ng-change="phoneNumber_check()"/>
										<span class="error" ng-show="isValidPhoneNumber">Le numéro doit être composé de 10 chiffres ou doit commencer par +33</span>
									</div>
								</div>
								<div style="clear:both;" class="col-sm-6">
									<label>Veuillez taper votre mot de passe actuel</label> <span class="link_primary">*</span>
									<input type="password" class="form-control" ng-model="oldpwd" ng-blur="oldPasswordCompare()" required/>
									<span class="error" style="position:relative !important;" ng-show="isValidOldPwd">Le mot de passe ne correspond pas à votre mot de passe actuel</span>
								</div>
								<div style="clear:both;" class="col-sm-6">
									<label>Tapez votre nouveau mot de passe</label> <span class="link_primary">*</span>
									<input type="password" class="form-control" ng-model="newPwd" ng-change="pwd_check()" required/>
									<span class="error" style="position:relative !important;" ng-show="isValidPwd">Votre mot de passe doit contenir au moins une lettre, un chiffre, un caractère spécial et doit excéder 6 caractères</span>
								</div>
								<div class="col-sm-6">
									<label>Confirmez le mot de passe</label> <span class="link_primary">*</span>
									<input type="password" class="form-control" ng-model="newPwdConfirm" ng-change="confirmpwd_check()" required/>
									<span class="error" style="position:relative !important;" ng-show="isValidConfirmPwd">Le mots de passe de sont pas identiques</span>
								</div>
								<div class="col-sm-6" style="clear:both;margin-bottom:20px;">
									<input type="submit" value="Enregistrer les modifications" class="btn btn-primary" ng-click="submitProfileChange()"/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12" style="padding:0px;">
					<div class="panel panel-default" id="profile-settings" ng-hide="showEditProfileField">
						<div class="panel-heading">
							<i class="fa fa-th"></i> Profil
							<button type="button" style="float:right; margin-top:-7px;"class="col-sm-1 btn btn-default button-validate" ng-click="editProfileField()"><i class="fa fa-pencil"></i></button>
						</div>
						<div class="panel-body">
							<div class="form-group  group-clear">
								<label class="col-sm-3 control-label">Type de compte:</label>
								<div class="col-sm-8">
									<span ng-if="user.owner_type == 1">Particulier</span>
									<span ng-if="user.owner_type == 2">Administrateur</span>
									<span ng-if="user.owner_type == 3">Professionnel</span>
									<span ng-if="user.owner_type == 4">Administrateur professionnel</span>
								</div>
							</div>
							<div class="form-group group-clear">
								<label class="col-sm-3 control-label">Adresse:</label>
								<div class="col-sm-8">{{user.owner_adress}} {{user.owner_postal}} {{user.owner_town}} {{user.owner_country}}</div>
							</div>
							<div class="form-group group-clear">
								<label class="col-sm-3 control-label">E-mail:</label>
								<div class="col-sm-8"><span ng-bind="user.owner_email"></span></div>
							</div>
							<div class="form-group group-clear">
								<label class="col-sm-3 control-label">Téléphone:</label>
								<div class="col-sm-8"><span ng-bind="user.owner_tel"></span></div>
							</div>
							<div class="form-group group-clear">
								<label class="col-sm-3 control-label">Points:</label>
								<div class="col-sm-8">{{user.owner_points}}</div>
							</div>
						</div>	
					</div>
				</div>

				<div class="col-sm-12" style="padding:0px;" ng-if="user.owner_type == 3 || user.owner_type == 4">
					<div class="panel panel-default" id="profile-settings" ng-hide="showEditFirmField">
						<div class="panel-heading">
							<i class="fa fa-th"></i> Profil entreprise
							<button type="button" style="float:right; margin-top:-7px;"class="col-sm-1 btn btn-default button-validate" ng-click="editFirmField()" ng-if="user.owner_type == 3"><i class="fa fa-pencil"></i></button>
						</div>
						<div class="panel-body">
							<div class="form-group group-clear">
								<label class="col-sm-3 control-label">Nom:</label>
								<div class="col-sm-8"><span ng-bind="organization.organization_name"></span></div>
							</div>
							<div class="form-group group-clear">
								<label class="col-sm-3 control-label">Description:</label>
								<div class="col-sm-8"><span ng-bind="organization.organization_description"></span></div>
							</div>
							<div class="form-group group-clear">
								<label class="col-sm-3 control-label">Adresse:</label>
								<div class="col-sm-8">
									{{organization.organization_adress}} {{organization.organization_postal}} {{organization.organization_town}} {{organization.organization_country}}
								</div>
							</div>
							<div class="form-group group-clear">
								<label class="col-sm-3 control-label">Téléphone:</label>
								<div class="col-sm-8"><span ng-bind="organization.organization_tel"></span></div>
							</div>
						</div>	
					</div>
				</div>
				<div class="col-sm-12" style="padding:0px;">
					<div class="panel panel-default" id="profile-settings" ng-show="showEditFirmField">
						<div class="panel-heading">
							<i class="fa fa-th"></i> Edition profil entreprise
							<button type="button" style="float:right; margin-top:-7px;"class="col-sm-1 btn btn-default button-validate" ng-click="editFirmField()"><i class="fa fa-pencil"></i></button>
						</div>
						<div class="panel-body">
							<div class="col-sm-12">
								<label>Indiquez votre adresse ici</label>
								<input type="text" id="googleAddressFirm-autocomplete" placeholder="" class="form-control" />
							</div>
							<div class="professionnal_form col-sm-6"> 
								<label>Route</label> <span class="link_primary" hidden >*</span>
								<input type="text" placeholder="" id="googleAddress3sign-route" class="form-control" ng-model="organization.organization_adress" readonly />
							</div>
							<div class="professionnal_form col-sm-6">
								<label>Code postal</label> <span class="link_primary" hidden >*</span>
								<input type="text" placeholder="" id="sign-postal" class="form-control" ng-model="organization.organization_postal" readonly />
							</div>
							<div class="professionnal_form col-sm-3">
								<label>Ville</label> <span class="link_primary" hidden >*</span>
								<input type="text" placeholder="" id="sign-locality" class="form-control" ng-model="organization.organization_town" readonly />
							</div>
							<div class="professionnal_form col-sm-3">
								<label>Pays</label> <span class="link_primary" hidden >*</span>
								<input type="text" placeholder="" id="sign-country" class="form-control" ng-model="organization.organization_country" readonly />
							</div>
							<div class="col-sm-6" style="clear:both;">
								<label>Description</label>
								<input class="user_info_edit_input form-control" type="text" ng-model="organization.organization_description"/>
							</div>
							<div class="col-sm-6" style="clear:both;">
								<label>Numéro</label>
								<input class="user_info_edit_input form-control" type="text" ng-model="organization.organization_tel" ng-change="firmPhoneNumber_check()"/>
								<span class="error" ng-show="isValidFirmPhoneNumber">Le numéro doit être composé de 10 chiffres ou doit commencer par +33</span>
							</div>
							<div class="col-sm-6" style="clear:both;margin-bottom:20px;margin-top:20px;">
								<input type="submit" value="Enregistrer les modifications" class="btn btn-primary" ng-click="submitFirmChange()"/>
							</div>
						</div>
					</div>
				</div>
				<h1 >Parrainage</h1>
			</div>
		</div>
		<div class="col-lg-8 col-md-10 col-sm-11 col-xs-12"  id="sponsorVisualization" style="height: 500px; margin-bottom: 30px; margin: auto; float: none!important"></div>
	</div>
	<div id="ss-container" class="ss-container">
		<% for(var i=0; i < achievements.length; i++) { %>
			<div class="ss-row ss-medium">
				<% if(i%2 == 0) { %>
				    <div class="ss-left">
			            <span class="ss-circle ss-circle-deco" style="background-image:url(<%= achievements[i].image_path %>)"></span>
			        </div>
			        <div class="ss-right">
			            <h3>
			            	<span style="font-weight: bold!important; font-size: 25px"><strong><%= achievements[i].name %></strong></span>
			                <span><%= achievements[i].recieved_dt %></span>
			                <span><%= achievements[i].description %></span>
			            </h3>
			        </div>
				<% } else { %>
					<div class="ss-left">
			            <h3>
			            	<span style="font-weight: bold!important; font-size: 25px"><strong><%= achievements[i].name %></strong></span>
			                <span><%= achievements[i].recieved_dt %></span>
			                <span><%= achievements[i].description %></span>
			            </h3>
			        </div>
				    <div class="ss-right">
			            <span class="ss-circle ss-circle-deco" style="background-image:url(<%= achievements[i].image_path %>)"></span>
			        </div>
				<% } %>
		    </div>
		<% } %>
</div>
<script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../js/scroll.js"></script>
