<!DOCTYPE html>
<div class="row-centered" ng-controller="ValidateProAccount">
	<div class="validate-pro col-xs-10 col-sm-10 col-md-8 col-lg-6 col-centered">
		<h1>Panel d'administration</h1>
        <hr>
        <div id="verif-success" class="alert alert-success alert-dismissible fade in" role="alert" ng-show="verifSuccMess!=undefined">
            <button type="button" class="close" ng-click="verifSuccMess=undefined"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <span>{{verifSuccMess}}</span>
        </div>
        <div id="verif-error" class="alert alert-danger alert-dismissible fade in" role="alert" ng-show="verifErrMess!=undefined">
            <button type="button" class="close" ng-click="verifErrMess=undefined"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <span>{{verifErrMess}}</span>
        </div>
        <% if (accounts != undefined) { %>
        <div id="account-pro-none" class="col col-md-12" hidden>Aucun comptes professionels à accepter trouvés !</div>
		<% for(var i=0; i < accounts.length; i++) { %>
        <div id="account-pro-<%= accounts[i].orga_id %>" class="row account-pro" style="padding: 0 20px">
            <h3>Organisation <strong><%= accounts[i].orga_name %></strong></h3>
            <div class="row">
                <div class="col col-md-2 pull-center"><img src="<%= accounts[i].orga_logo %>" class="center-block" /></div>
                <div class="col col-md-8 pull-center">
                    <div class="col col-md-12"><%= accounts[i].orga_description %></div>
                    <div class="col col-md-12"><%= accounts[i].orga_adress %> <%= accounts[i].orga_postal %> <%= accounts[i].orga_town %> <%= accounts[i].orga_country %></div>
                    <div class="col col-md-12"><%= accounts[i].orga_tel %></div>
                </div>
            </div>
            <h3>Owner <strong><%= accounts[i].owner_firstname %> <%= accounts[i].owner_lastname %></strong></h3>
            <div class="col-md-12"><%= accounts[i].owner_email %></div>
            <div class="col-md-12"><%= accounts[i].owner_adress %> <%= accounts[i].owner_postal %> <%= accounts[i].owner_town %> <%= accounts[i].owner_country %></div>
            <div class="col-md-12"><%= accounts[i].owner_tel %></div>
            <div class="col-md-12"><button type="button" class="btn btn-default button-validate" ng-click="validate_pro_account(<%= accounts[i].orga_id %>)"><i class="fa fa-check"></i></button></div>
            <hr class="col-md-12">
        </div>
		<% } %>
        <% } else { %>
        <div class="col col-md-12">Aucun comptes professionels à accepter trouvés !</div>
        <% } %>
	</div>
</div>